{sub_dirs, [
        "apps/application_obj",
        "apps/session_server",
        "apps/session_counter",
        "apps/http_api",
        "rel"
       ]}.

{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_obsolete_guard, warning_as_erros]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
