%%-*- mode: erlang -*-

{deps, [
            {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", {tag, "1.3.1"}}},
            {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, master}}},
            {utils, ".*", {git, "https://github.com/gizmomonitor/utils.git", {branch, master}}}
       ]}.