%%-*- mode: erlang -*-

{deps, [
            {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, master}}},
            {gizmo_backend_utils, ".*", {git, "https://github.com/gizmomonitor/gizmo_backend_utils.git", {branch, master}}},
            {mochijson2, ".*", {git, "https://github.com/bjnortier/mochijson2.git", {branch, master}}}
        ]}.