{riakdb_addr, "\"localhost\""}.
{riakdb_port, 8087}.

{http_server_addr, "{127,0,0,1}"}.
{http_server_port, 8080}.

{monitoring_pool_init, "100"}.
{monitoring_pool_max, "300"}.

{stats_pool_init, "30"}.
{stats_pool_max, "100"}.

{default_pool_init, "10"}.
{default_pool_max, "30"}.

{update_frequency, 5000}.