[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [
        {"log/error.log", error, 10485760, "$D0", 5},
        {"log/app_server.log", debug, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

  {pooler, [
    {pools, [
      [{name, monitoring},
       {group, riak},
       {max_count, {{monitoring_pool_max}} },
       {init_count, {{monitoring_pool_init}} },
       {start_mfa, {riakc_pb_socket, start_link, [ {{riakdb_addr}} , {{riakdb_port}} ]}}],
      [{name, stats},
       {group, riak},
       {max_count, {{stats_pool_max}} },
       {init_count, {{stats_pool_init}} },
       {start_mfa, {riakc_pb_socket, start_link, [ {{riakdb_addr}} , {{riakdb_port}} ]}}],
      [{name, default},
       {group, riak},
       {max_count, {{default_pool_max}} },
       {init_count, {{default_pool_init}} },
       {start_mfa, {riakc_pb_socket, start_link, [ {{riakdb_addr}} , {{riakdb_port}} ]}}]
    ]}
  ]},

  {session_counter, [
    {update_frequency, 5000}
  ]},

  {session_api, [
    {http_server_addr, {{http_server_addr}} },
    {http_server_port, {{http_server_port}} }
  ]}
].